<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMGG</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <!-- <script src="js/fetch.js"></script> -->
    <link rel="stylesheet" href="../js/css/index.css">

    

</head>
<body >
     <h1 class="text-2xl">MMGG</h1>

 

    <form action="/name/getSummonerName" method="POST">
        <div class="md:container md:mx-auto rounded flex border justify-center border-black">
          <label for="SummonerName" class="form-label"
            >Get Summoner Name</label
          >
          <input
            type="text"
            class="form-control"
            id="SummonerName"
            aria-describedby="SummonerNameHelp"
            name="SummonerName"
          />
          <select  data-style="btn-info" name="selectpicker">
            <option name="" value="0">NA</option>
            <option name="table1" value="1">EU</option>
            <option name="table2" value="2">Table 2</option>
            <option name="table3" value="3">Table 3</option>
          </select>
       
        <button type="submit" class=" navbtn btn btn-primary mt-2">Search</button> 
    </div>
    </form>
    
    <%= name  %>
    <%= SummonerNameurlFull.name %>
    <h3><%= SummonerNameurlFull.summonerLevel %></h3>

   
   
  
    <img src="<%= profilePicURL %>" alt="Profile Pic">
    

    <%= rankedInfoFull[0].queueType %>
    <%= rankedInfoFull[0].tier %>
    <%= rankedInfoFull[0].rank %>
    <%= rankedInfoFull[0].leaguePoints %>
    <%= rankedInfoFull[0].wins %>
    <%= rankedInfoFull[0].losses %>



</body>
</html>