<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMGG</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <!-- <script src="js/fetch.js"></script> -->
    <link rel="stylesheet" href="../js/css/index.css">

    

</head>
<body >
     <h1 class="text-2xl">MMGG</h1>

 

    <form action="/name/getSummonerName" method="POST">
        <div class="md:container md:mx-auto rounded flex border justify-center border-black">
          <label for="SummonerName" class="form-label"
            >Get Summoner Name</label
          >
          <input
            type="text"
            class="form-control"
            id="SummonerName"
            aria-describedby="SummonerNameHelp"
            name="SummonerName"
          />
          <select  data-style="btn-info" name="selectpicker">
            <option name="brazil" value="br1.api.riotgames.com">Brazil</option>
            <option name="europe east" value="eun1.api.riotgames.com">EUN</option>
            <option name="europe west" value="euw1.api.riotgames.com">EUW</option>
            <option name="japan" value="jp1.api.riotgames.com">JP</option>
            <option name="korea" value="kr.api.riotgames.com">Korea</option>
            <option name="latin america south" value="la1.api.riotgames.com">LAS</option>
            <option name="latin america north" value="la2.api.riotgames.com">LAN</option>
            <option name="north america" value="na1.api.riotgames.com">NA</option>
            <option name="oceania" value="oc1.api.riotgames.com">Oceania</option>
            <option name="turkey" value="tr1.api.riotgames.com">Turkey</option>
            <option name="russia" value="ru.api.riotgames.com">Russia</option>
            <option name="phillippines" value="ph2.api.riotgames.com">Phillippines</option>
            <option name="singapore" value="sg2.api.riotgames.com">Singapore</option>
            <option name="thailand" value="th2.api.riotgames.com">Thailand</option>
            <option name="taiwan" value="tw2.api.riotgames.com">Taiwan</option>
            <option name="vietnam" value="vn2.api.riotgames.com">Vietnam</option>
          </select>
       
        <button type="submit" class=" navbtn btn btn-primary mt-2">Search</button> 
    </div>
    </form>
    
    <%= name  %>
    <%= SummonerNameurlFull.name %>
    <h3><%= SummonerNameurlFull.summonerLevel %></h3>

   
   
  
    <img src="<%= profilePicURL %>" alt="Profile Pic">
    
    <% if (rankedInfoFull[0]) { %>
    <%= rankedInfoFull[0].queueType %>
    <%= rankedInfoFull[0].tier %>
    <%= rankedInfoFull[0].rank %>
    <%= rankedInfoFull[0].leaguePoints %>
    <%= rankedInfoFull[0].wins %>
    <%= rankedInfoFull[0].losses %>
    <% } %>



</body>
</html>